
{% from 'macros/alert.html' import  show_alert %}
{% from 'macros/pagination.html' import  pagination %}
{% from 'macros/input_seeker.html' import  input_seeker %}

{% extends "authorized_layout.html" %}

{% block title %}Usuario{% endblock %}

{% block sub_content %}

    
    {% if alert %}
        {{ show_alert(alert) }}
    {% endif %}
    
    <h5 class="mt-3">Usuario</h5>

    {% if verify_permission('user_create') %}
        <div class="d-flex justify-content-end mt-3">
            <a class="btn btn-primary btn-sm flex-grow-1 flex-sm-grow-0 h-100" role="button" href="{{ url_for('user_new') }}">
                <i class="fas fa-plus"></i>
                <span class="ml-2">Nuevo Usuario</span>
            </a>
        </div>
    {% endif %}

    <form class="border rounded shadow-sm mt-3 p-2" style="background: white;" method="get">
        {{input_seeker(form.user_attributes, "submit", form.submit, form.search_text)}}
        {{input_seeker(form.user_rol, "select")}}
    </form>
    
    {% if users.items %}
        <ul class="list-group border rounded shadow-sm mt-3">
            {% for user in users.items %}
                <li class="list-group-item">
                    <div class="row d-flex">
                        <div class="col-12 d-flex justify-content-center justify-content-sm-start col-sm mb-2 mb-sm-0">
                            <div class="text-center text-sm-left">
                                <span class="d-block">
                                    {{ user.name }}
                                </span>
                             </div>
                        </div>
                        
                        <div class="col-12 col-sm-auto d-flex justify-content-center align-items-center">
                            {% if verify_permission('user_content_index') and user.is_responsible() %}
                            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_content_index', user_id=user.id) }}">
                                <i class="fas fa-link"></i>
                            </a>
                            {% endif %}
                            {% if verify_permission('user_show') %}
                            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_show', id=user.id) }}">
                                <i class="fas fa-eye"></i>
                            </a>
                            {% endif %}
                            {% if verify_permission('user_update') %}
                            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_edit', id=user.id) }}">
                                <i class="fas fa-cog"></i>
                            </a>
                            {% endif %}
                            {% if verify_permission('user_delete') %}
                                <a onclick='return confirm(`¿Seguro que deseas eliminar el usuario "{{user.name}}" del sistema?`);' class="btn btn-danger btn-sm" role="button" href="{{ url_for('user_delete', id=user.id) }}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ pagination(users, 'user_index' )}}
    
{% endblock %}