{% extends "authorized_layout.html" %}

{% macro input(field, placeholder) %}  
  {% if ( field.errors|length == 0) %}
    {{ field(class_="form-control form-control-user",placeholder=placeholder) }}
  {% else %}
    {{ field(class_="form-control form-control-user is-invalid",placeholder=placeholder) }}
    {% for error in field.errors %}
      <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% block title %}Registrar Usuario{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}



{% block sub_content %}

  <div class="p-5">
    <div class="text-center">
        <h4 class="text-dark mb-4">Registrar Usuario</h4>
    </div>
    <form class="user needs-validation" action="{{ url_for('user_create') }}" method="post" id="new_form" >
        {{ form.csrf_token }}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              {{ input(form.name, "Nombre") }}
            </div>
            <div class="col-sm-6">
              {{input(form.surname, "Apellido")}}
            </div>
        </div>
        <div class="form-group">
          {{input(form.email, "Correo Electrónico")}}
        </div>
        <div class="form-group">
          {{input(form.username, "Nombre de Usuario")}}
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              {{input(form.password, "Contraseña")}}
            </div>
            <div class="col-sm-6">
              <input class="form-control form-control-user" type="password" id="password_repeat" placeholder="Repetir Contraseña" name="password_repeat">
              <div id="password_valid" class="valid-feedback">Valid</div>
              <div id="password_invalid" class="invalid-feedback">Not match</div>
            </div>
        </div>
        <div class="form-group">
          {{form.roles(class_="form-control", style="overflow: hidden")}}
        </div>
        
        {{ form.submit(class_="btn btn-primary btn-block text-white btn-user") }}
        </form>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/validation_password.js') }}"></script>
{% endblock %}