{% extends "layout.html" %}
{% from 'macros/input.html' import  input %}
{% from 'macros/alert.html' import  show_alert %}

{% block title %}Recuperación de contraseña{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}



{% block content %}
    
    <div class="container" style="padding-top: 80px;padding-bottom: 600px;max-width: 640px;">
    {% if alert %}
      {{ show_alert(alert) }}
    {% endif %}
    <form action="{{url_for('user_password_recovery') }}" method="post" class="text-center border rounded shadow-sm p-4 bg-white">
        {{ form.hidden_tag() }}
        <div class="form-group">{{input(form.user_email)}}</div>
        {{ form.submit(class_="btn btn-primary btn-block text-white") }}
    </form>
  </div>
{% endblock %}
