{% from 'macros/alert.html' import  show_alert %}

{% extends "authorized_layout.html" %}

{% block title %}Usuario - {{ user.name }}{% endblock %}

{% block sub_content %}

    {% if alert %}
        {{ show_alert(alert) }}
    {% endif %}

    <h5 class="mt-3">Informacion de Usuario</h5>

    <div class="d-flex justify-content-end mt-3">
        
        {% if verify_permission('user_index') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_index') }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        {% endif %}

        <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_password_change_authenticated') }}">
            Cambiar Contraseña
        </a>
        
        {% if verify_permission('user_update') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_edit', id=user.id) }}">
                <i class="fas fa-cog"></i>
            </a>
        {% endif %}
        {% if verify_permission('user_delete') %}
            <a onclick='return confirm(`¿Seguro que deseas eliminar el usuario "{{user.name}}" del sistema?`);' class="btn btn-danger btn-sm" role="button" href="{{ url_for('user_delete', id=user.id) }}">
                <i class="far fa-trash-alt"></i>
            </a>
        {% endif %}
    </div>

    <ul class="list-group shadow-sm my-4 mx-2">
        <li class="list-group-item">
            <h6 class="mb-0">Nombre</h6>{{ show_field(user.name, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Apellido</h6>{{ show_field(user.surname, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Usuario</h6>{{ show_field(user.username, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Correo Electrónico Institucional</h6>{{ show_field(user.institutional_email, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Correo Electrónico Secundario</h6>{{ show_field(user.secondary_email, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6>Roles</h6>{{ show_field(user.get_roles(), list=True, attribute="name", link="role_show", required=True)|safe }}
        </li>
        {% if user.is_career_manager() %}
            <li class="list-group-item">
                <h6 class="mb-0">Carrera</h6>{{ show_field(user.get_career(), attribute="name", link="career_show", required=False)|safe }}
            </li>
        {% elif user.is_cathedra_manager() %}
            <li class="list-group-item">
                <h6>Cátedras</h6>{{ show_field(user.get_cathedras(), list=True, attribute="name", link="cathedra_show", required=False)|safe }}
            </li>
        {% elif user.is_office_manager() %}
            <li class="list-group-item">
                <h6>Oficinas</h6>{{ show_field(user.get_offices(), list=True, attribute="name", link="office_show", required=False)|safe }}
            </li>
        {% endif %}
    </ul>
    
{% endblock %}