


{% extends "authorized_layout.html" %}

{% block title %}Usuario - {{ user.name }}{% endblock %}

{% block sub_content %}

    <h5 class="mt-3">Informacion de Usuario</h5>

    <div class="d-flex justify-content-end mt-3">
        {% if verify_permission('user_index') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_index') }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        {% endif %}
        {% if verify_permission('user_update') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('user_edit', id=user.id) }}">
                <i class="fas fa-cog"></i>
            </a>
        {% endif %}
        {% if verify_permission('user_delete') %}
            <a onclick="return confirm('¿Seguro que deseas eliminar {{user.name}} del sistema?');" class="btn btn-danger btn-sm" role="button" href="{{ url_for('user_delete', id=user.id) }}">
                <i class="far fa-trash-alt"></i>
            </a>
        {% endif %}
    </div>

    <ul class="list-group shadow-sm my-4 mx-2">
        <li class="list-group-item">
            <h6 class="mb-0">Nombre</h6>{{ show_field(user.name, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Apellido</h6>{{ show_field(user.surname, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Usuario</h6>{{ show_field(user.username, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Contraseña</h6>{{ show_field(user.password, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Correo Electrónico Institucional</h6>{{ show_field(user.institutional_email, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6 class="mb-0">Correo Electrónico Secundario</h6>{{ show_field(user.secondary_email, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6>Roles</h6>{{ show_field(user.get_roles(), list=True, attribute="name", link="role_show", required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6>Solicitudes</h6>{{ show_field(user.get_requests(), list=True, attribute="content", link="request_show", required=False)|safe }}
        </li>
    </ul>
    
{% endblock %}