{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background: linear-gradient(45deg, #395e85, #00889b);">
        <div class="container-fluid d-flex flex-column p-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar-1">
                
                {% if verify_permission('user_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('user_index') }}"><i class="fas fa-user" style="color: white;"></i><span style="/*color: white;*/">Usuarios</span></a></li>
                {% endif %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="../catedras/catedras.html"><i class="fas fa-book" style="color: white;"></i><span style="/*color: white;*/">Catedras</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="fas fa-coffee" style="color: white;"></i><span style="/*color: white;*/">Oficinas</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="../admin-empleado/list-empleado.html"><i class="fas fa-users" style="color: white;"></i><span style="/*color: white;*/">Empleados</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="../reportes/catedras.html"><i class="fas fa-file-alt" style="color: white;"></i><span style="/*color: white;*/">Reportes</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="../solicitudes/solicitudes.html"><i class="fas fa-share-square" style="color: white;"></i><span style="/*color: white;*/">Solicitudes</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href=""><i class="far fa-question-circle" style="color: white;"></i><span style="/*color: white;*/">Consultas Técnicas</span></a></li>
                {% if verify_permission('configuration_update') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('configuration_edit') }}"><i class="fas fa-tools" style="color: white;"></i><span style="/*color: white;*/">Configuración</span></a></li>
                {% endif %}
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>

    <div class="d-flex flex-column" id="content-wrapper">
            <div id="content2">
                <div class="container">
                    {% block sub_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
