{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background: linear-gradient(45deg, #395e85, #00889b);">
        <div class="container-fluid d-flex flex-column p-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar-1">
                
                {% if verify_permission('user_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('user_index') }}"><i class="fas fa-user" style="color: white;"></i><span style="/*color: white;*/">Usuarios</span></a></li>
                {% endif %}
                {% if verify_permission('cathedra_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('cathedra_index') }}"><i class="fas fa-book" style="color: white;"></i><span style="/*color: white;*/">Catedras</span></a></li>
                {% endif %}
                {% if verify_permission('career_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('career_index') }}"><i class="fas fa-graduation-cap" style="color: white;"></i><span style="/*color: white;*/">Carreras</span></a></li>
                {% endif %}
                {% if verify_permission('office_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('office_index') }}"><i class="fas fa-coffee" style="color: white;"></i><span style="/*color: white;*/">Oficinas</span></a></li>
                {% endif %}
                {% if verify_permission('employee_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('employee_index') }}"><i class="fas fa-users" style="color: white;"></i><span style="/*color: white;*/">Empleados</span></a></li>
                {% endif %}
                {% if verify_permission('user_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('cathedra_report') }}"><i class="fas fa-file-alt" style="color: white;"></i><span style="/*color: white;*/">Reporte de Cátedras</span></a></li>
                {% endif %}
                {% if verify_permission('request_type_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('request_type_index') }}"><i class="fas fa-angle-right" style="color: white;"></i><span style="/*color: white;*/">Tipos de solicitudes</span></a></li>
                {% endif %}
                {% if verify_permission('request_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('request_index') }}"><i class="fas fa-share-square" style="color: white;"></i><span style="/*color: white;*/">Solicitudes</span></a></li>
                {% endif %}
                {% if verify_permission('request_create') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('request_support') }}"><i class="fas fa-headset" style="color: white;"></i><span style="/*color: white;*/">Consultas Técnicas</span></a></li>
                {% endif %}
                {% if verify_permission('charge_index') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('charge_index') }}"><i class="fas fa-scroll" style="color: white;"></i><span style="/*color: white;*/">Cargos</span></a></li>
                {% endif %}
                {% if verify_permission('configuration_update') %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('configuration_edit') }}"><i class="fas fa-tools" style="color: white;"></i><span style="/*color: white;*/">Configuración</span></a></li>
                {% endif %}
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>

    <div class="d-flex flex-column" id="content-wrapper">
            <div id="content2">
                <div class="container">
                    {% block sub_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
