{% from 'macros/alert.html' import  show_alert %}

{% extends "layout.html" %}

{% macro input(field, type, placeholder) %}
  {% if ( field.errors|length == 0) %}
      {{ field(class_="form-control form-control-user", type=type, placeholder=placeholder) }}
    {% else %}
      {{ field(class_="form-control form-control-user is-invalid",type=type, placeholder=placeholder) }}
      {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    {% endif %}
{% endmacro %}

{% block title %}Iniciar Sesión{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 80px;padding-bottom: 600px;max-width: 320px;">
  {% if alert %}
      {{ show_alert(alert) }}
  {% endif %}

  <form action="{{ url_for('auth_authenticate') }}" method="post" class="text-center border rounded shadow-sm p-4 bg-white">
      {{ form.hidden_tag() }}
      
      <div class="mb-2" style="font-size: 100px;color: #395e85;"><i class="fas fa-user-circle"></i></div>
      <div class="form-group">{{input(form.username, "username", "Nombre de usuario")}}</div>
      <div class="form-group">{{input(form.password, "password", "Contraseña")}}</div>
      <div class="form-group">
      <div class="custom-control custom-checkbox small" style="float: left;">                             
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </div>
      <button class="btn btn-primary btn-block" type="submit">Inicar Sesión</button>
      </div><a href="{{ url_for('user_password_recovery') }}" style="display: block;text-align: center;font-size: 12px;color: #6f7a85;opacity: 0.9;text-decoration: none;">¿Has olvidado la contraseña?</a>
      
    </form>
  
  
</div>
{% endblock %}
