
{% from 'macros/alert.html' import  show_alert %}
{% from 'macros/pagination.html' import  pagination %}

{% extends "authorized_layout.html" %}

{% block title %}Puesto de Trabajo{% endblock %}

{% block sub_content %}

    
    {% if alert %}
        {{ show_alert(alert) }}
    {% endif %}
    
    <h5 class="mt-3">Puesto de Trabajo</h5>

    {% if verify_permission('job_position_create') %}
        <div class="d-flex justify-content-end mt-3">
            {% if is_cathedra %}
            <a class="btn btn-primary btn-sm flex-grow-1 flex-sm-grow-0 h-100 mr-3" role="button" href="{{ url_for('job_position_new', workplace_id=workplace_id, type='docent') }}">
                <i class="fas fa-user-plus"></i>
                <span class="ml-2">Agregar Docente</span>
            </a>
            <a class="btn btn-primary btn-sm flex-grow-1 flex-sm-grow-0 h-100" role="button" href="{{ url_for('job_position_new', workplace_id=workplace_id, type='notdocent') }}">
                <i class="fas fa-user-plus"></i>
                <span class="ml-2">Agregar No Docente</span>
            </a>
            {% else %}
            <a class="btn btn-primary btn-sm flex-grow-1 flex-sm-grow-0 h-100" role="button" href="{{ url_for('job_position_new', workplace_id=workplace_id, type='administrative') }}">
                <i class="fas fa-user-plus"></i>
                <span class="ml-2">Agregar Administrativo</span>
            </a>
            {% endif %}
        </div>
    {% endif %}

    <div class="container" style="overflow: auto;padding-top: 20px;padding-bottom: 150px;">
        {% for employee_type, charges in staff.items() %}
            <div class="card mt-3">
                <div class="card-header"><span>{{ employee_type }}</span></div>
                <div class="card-body">
                    {% for charge, job_positions in charges.items()  %}
                    <div class="mt-2">
                        <h6 class="text-muted mb-2">{{ charge }}<br></h6>
                        <ul class="list-group mt-3">
                            {% for job_position in job_positions %}
                            <li class="list-group-item">
                                <div class="row d-flex">
                                    <div class="col-12 d-flex justify-content-center justify-content-sm-start col-sm mb-2 mb-sm-0">
                                        <div class="text-center text-sm-left"><span class="d-block"> {{job_position.employee.get_full_name()}} <br></span><small>{{ job_position.employee.institutional_email }}<br></small></div>
                                    </div>
                                    <div class="col-12 col-sm-auto d-flex justify-content-center align-items-center">
                                        {% if verify_permission('job_position_show') %}
                                            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('job_position_show', workplace_id=workplace_id, id=job_position.id) }}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        {% endif %}
                                        {% if verify_permission('job_position_update') %}
                                            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('job_position_edit', workplace_id=workplace_id, id=job_position.id) }}">
                                                <i class="fas fa-user-cog"></i>
                                            </a>
                                        {% endif %}
                                        {% if verify_permission('job_position_delete') %}
                                            <a onclick='return confirm(`¿Seguro que deseas quitar a "{{job_position.employee.get_full_name()}}" del plantel?`);' class="btn btn-danger btn-sm" role="button" href="{{ url_for('job_position_delete', workplace_id=workplace_id,id=job_position.id) }}">
                                                <i class="fas fa-user-minus"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    
{% endblock %}