


{% extends "authorized_layout.html" %}

{% block title %}Rol - {{ role.name }}{% endblock %}

{% block sub_content %}

    <h5 class="mt-3">Informacion de Rol</h5>

    <div class="d-flex justify-content-end mt-3">
        {% if verify_permission('role_index') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('role_index') }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        {% endif %}
        {% if verify_permission('role_update') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('role_edit', id=role.id) }}">
                <i class="fas fa-cog"></i>
            </a>
        {% endif %}
        {% if verify_permission('role_delete') %}
            <a onclick="return confirm('¿Seguro que deseas eliminar {{role.name}} del sistema?');" class="btn btn-danger btn-sm" role="button" href="{{ url_for('role_delete', id=role.id) }}">
                <i class="far fa-trash-alt"></i>
            </a>
        {% endif %}
    </div>

    <ul class="list-group shadow-sm my-4 mx-2">
        <li class="list-group-item">
            <h6 class="mb-0">Nombre</h6>{{ show_field(role.name, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6>Usuarios</h6>{{ show_field(role.get_users(), list=True, attribute="name", link="user_show", required=False)|safe }}
        </li>
        <li class="list-group-item">
            <h6>Permisos</h6>{{ show_field(role.get_permissions(), list=True, attribute="name", link="permission_show", required=False)|safe }}
        </li>
    </ul>
    
{% endblock %}