
{% from 'macros/input.html' import  input %}

{% extends "authorized_layout.html" %}

{% block title %} Editar Solicitud {% endblock %}

{% block sub_content %}

  <h5 class="mt-3">Editar Solicitud</h5>
  <h6 class="mt-3">Los campos <span class="text-danger">*</span> son obligatorios.</h6>
        <div class="bg-white border rounded shadow-sm mt-3 p-3">
            <form class="text-left user" action="{{ url_for('request_update', id=request.id) }}" method="post" >
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ input(form.content) }}
                </div>
                <div class="form-group">
                    {{ input(form.is_resolved) }}
                </div>
                <div class="form-group">
                    {{ input(form.receive_email) }}
                </div>
                <div class="form-group">
                    {{ input(form.timestamp) }}
                </div>
                <div class="form-group">
                    {{ input(form.user) }}
                </div>
                <div class="form-group">
                    {{ input(form.request_type) }}
                </div>
                {{ form.submit(class_="btn btn-primary btn-block text-white") }}
            </form>
        </div>
    
{% endblock %}