
{% from 'macros/input.html' import  input %}

{% extends "authorized_layout.html" %}

{% block title %} Editar Permiso {% endblock %}

{% block sub_content %}

  <h5 class="mt-3">Editar Permiso</h5>
  <h6 class="mt-3">Los campos <span class="text-danger">*</span> son obligatorios.</h6>
        <div class="bg-white border rounded shadow-sm mt-3 p-3">
            <form class="text-left user" action="{{ url_for('permission_update', id=permission.id) }}" method="post" >
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ input(form.name) }}
                </div>
                <div class="form-group">
                    {{ input(form.roles) }}
                </div>
                {{ form.submit(class_="btn btn-primary btn-block text-white") }}
            </form>
        </div>
    
{% endblock %}