


{% extends "authorized_layout.html" %}

{% block title %}Permiso - {{ permission.name }}{% endblock %}

{% block sub_content %}

    <h5 class="mt-3">Informacion de Permiso</h5>

    <div class="d-flex justify-content-end mt-3">
        {% if verify_permission('permission_index') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('permission_index') }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        {% endif %}
        {% if verify_permission('permission_update') %}
            <a class="btn btn-primary btn-sm mr-1" role="button" href="{{ url_for('permission_edit', id=permission.id) }}">
                <i class="fas fa-cog"></i>
            </a>
        {% endif %}
        {% if verify_permission('permission_delete') %}
            <a onclick='return confirm(`¿Seguro que deseas eliminar el permiso "{{permission.name}}" del sistema?`);' class="btn btn-danger btn-sm" role="button" href="{{ url_for('permission_delete', id=permission.id) }}">
                <i class="far fa-trash-alt"></i>
            </a>
        {% endif %}
    </div>

    <ul class="list-group shadow-sm my-4 mx-2">
        <li class="list-group-item">
            <h6 class="mb-0">Nombre</h6>{{ show_field(permission.name, required=True)|safe }}
        </li>
        <li class="list-group-item">
            <h6>Roles</h6>{{ show_field(permission.get_roles(), list=True, attribute="name", link="role_show", required=False)|safe }}
        </li>
    </ul>
    
{% endblock %}