{% from 'macros/input.html' import  input %}
{% from 'macros/input_double.html' import  input_double %}

{% extends "authorized_layout.html" %}

{% block title %} Reporte de Carreras{% endblock %}

{% block sub_content %}

    <h5 class="mt-3">Reporte de Carreras</h5>
    <div class="d-flex justify-content-end mt-3">
        <button type="button" onclick='javascript:get_excel({{export}}, "Carreras")' class="btn btn-success mb-3 mr-2" title="Generar xls">
            <i class="far fa-file-excel"></i>
        </button>
        <button type="button" onclick='javascript:get_pdf({{export}}, "Carreras")' class="btn btn-danger mb-3" title="Generar pdf">
            <i class="far fa-file-pdf"></i>
        </button>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">               
            <form class="text-left user" method="get" >
                <div class="form-group">
                    {{ input(form.careers) }}
                </div>
                <div class="form-group">
                    {{ input(form.employee_type) }}
                </div>
                <div class="form-group">
                    {{ input(form.charges) }}
                </div>
                {{ input_double([form.institutional_email, form.secondary_email]) }}
                {{ input_double([form.name, form.surname]) }}
                <div class="form-group">
                    {{ input(form.dni) }}
                </div>
                Campos opcionales a mostrar:
                {{ input_double([form.show_dni, form.show_secondary_email]) }}
                <button type="button" onclick="javascript:clear_search_form(['institutional_email','secondary_email','name','surname','dni'], ['show_dni','show_secondary_email'], ['employee_type'],['careers', 'charges'])" class="btn btn-primary mb-3">
                    Limpiar Filtros
                </button> 
                {{ form.submit(class_="btn btn-primary btn-block text-white") }}
            </form>   
        </div>
    </div>

    {% if not careers.is_empty() %}
        <h6 class="mt-3">Nombre y Apellido - DNI(opcional) - Email Institucional - Email Secundario(opcional).</h6>
    {% endif %}
    {% for career in careers %}
    <div class="mt-3 mb-3">
        <div class="card">
            <div class="mt-2 ml-3">
                <h5>Carrera: {{ career["Carrera"].name }}</h5>
            </div>
        {% for cathedra in career["Catedras"] %}
        <div class="mt-3 mb-3 mx-4">
            <div class="card">
                <div class="card-body text-center">               
                        <div class="row">
                            <div class="col">
                                <div class="row d-flex">
                                    <div class="col-12 d-flex justify-content-center justify-content-sm-start col-sm mb-2 mb-sm-0">
                                        <div class="text-center text-sm-left">
                                            <span class="d-block">{{ cathedra["cathedra"].name }}</span>
                                            <small>Horario de atencion: {{ cathedra["cathedra"].attention_time }}</small><br>
                                            <small>Lugar: {{ cathedra["cathedra"].location }}.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-auto d-flex justify-content-center align-items-center mb-2 mb-sm-0">
                                        <div class="text-center text-sm-right">
                                            <small>{{ cathedra["cathedra"].email }}</small><br>
                                            <small>{{ cathedra["cathedra"].phone }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% for employee_type, charges in cathedra["sttaf"].items() %}
                    <div class="card mx-4 mb-2">
                        <div class="card-header"><span>{{ employee_type }}</span></div>
                        <div class="card-body">
                            {% for charge, job_positions in charges.items()  %}
                            <div class="mt-2">
                                <h6 class="text-muted mb-2">{{ charge }}<br></h6>
                                <ul class="list-group mt-3">
                                    {% for job_position in job_positions %}
                                    <li class="list-group-item">
                                        <div class="row d-flex">
                                            <div class="col d-flex justify-content-center justify-content-sm-start col-sm mb-2 mb-sm-0">
                                                <div class="text-center text-sm-left"><span class="d-block"><small>{{job_position.employee.get_full_name()}}</small></span></div>
                                            </div>
                                            {% if dni_field %}
                                            <div class="col d-flex justify-content-center justify-content-sm-start col-sm mb-2 mb-sm-0">
                                                <div class="text-center text-sm-left"><span class="d-block"><small>{{job_position.employee.dni if job_position.employee.dni!=None else ""}}</small></span></div>
                                            </div>
                                            {% endif %}
                                            <div class="col d-flex justify-content-center justify-content-sm-start col-sm mb-2 mb-sm-0">
                                                <div class="text-center text-sm-left"><span class="d-block"><small>{{ job_position.employee.institutional_email }}</small></span></div>
                                            </div>
                                            
                                            {% if secondary_email_field %}
                                            <div class="col d-flex justify-content-center justify-content-sm-start col-sm mb-2 mb-sm-0">
                                                <div class="text-center text-sm-left"><small>{{ job_position.employee.secondary_email if job_position.employee.secondary_email!=None else ""}}</small></div>
                                            </div>
                                            {% endif %}

                                            
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    {% endfor %}

{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/clear_search_form.js') }}"></script>
  <!-- To export pdf and excel -->
  <script src="{{ url_for('static', filename='js/export/jspdf.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/export/jspdf.plugin.autotable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/export/generate_pdf.js') }}"></script>
  <script src="{{ url_for('static', filename='js/export/xlsx.full.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/export/FileSaver.js') }}"></script>
  <script src="{{ url_for('static', filename='js/export/generate_excel.js') }}"></script>
{% endblock %}